<%- include('./partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container">
        <h1>Add Bot</h1>
        <form method="POST" action="/addbot">
            <input type="hidden" value="<%= user.id %>" name="ownerid" id="ownerid">

            <label for="botid">Bot ID</label>
            <input type="text" class="form-control" name="botid" id="botid" required><br/>

            <label for="prefix">Bot Prefix</label>
            <input type="text" class="form-control" name="prefix" id="prefix" required><br/>

            <label for="shortd">Short Descrition</label>
            <input type="text" maxlength="50" class="form-control" name="shortd" id="shortd" required><br/>

            <label for="longd">Long Description</label>
            <textarea name="longd" minlength="200" id="longd" class="form-control" required></textarea>
            <small class="form-text"> HTML SUPPORTING  </small><br/><br/>

            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" id="website"><br/>

            <label for="supportServer">Support Server</label>
            <input type="text" class="form-control" name="supportServer" id="supportServer"><br/>

            <input type="submit" value="Add Bot" class="btn btn-light"><br/><br/><br/>
        </form>
    </div>

</section>

<%- include('./partials/footer.ejs', {}) %>