<!DOCTYPE html>
<html>
  <head>
    <title>ERROR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='icon' href='/images/logo.png' />
  </head>
  <body>
    <nav class="nav">
      <a href="/"><button class="nav-button">HOME</button></a>
      <a href="/discord"><button class="nav-button">JOIN DISCORD</button></a>
    </nav>
    <section align=center>
      <br/><br/><br/><br/><br/><br/><br/><br/>
        <h1 class="error-text" style="font-size: 35px;">The bot already exists in the database</h1>
        <br/>
        <p class="error-text">Error code: 4</p>
        <br/><br/>
        <a href="/"><button class="error-button">GO HOME</button></a>
    </section>
  </body>
</html>