<%- include('../partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container" align="center">
    <h1 class="h1 error-text" style="padding-top: 100px;">Bot already in site</h1>
    <p class="p">Error Code : 4 [Bot Already In DB]</p>
    <a href='/'><button class="btn btn-outline-light rounded">Go Home</button>
    </div>
</section>

<%- include('../partials/footer.ejs', {}) %>