<%- include('../partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container" align="center">
    <h1 class="h1 error-text" style="padding-top: 100px;">Please fill out the form</h1>
    <p class="p">Error Code : 3 [Empty Form]</p>
    <a href='/'><button class="btn btn-outline-light rounded">Go Home</button>
    </div>
</section>

<%- include('../partials/footer.ejs', {}) %>