<%- include('../partials/header.ejs', {}) %>
<section class="section mt-5">
    <div class="container" align="center">
    <h1 class="h1 error-text" style="padding-top: 100px;"><%= header %></h1>
    <p class="p">Error Code : <%= errorcode %></p>
    <a href='/'><button class="btn btn-outline-light rounded">Go Home</button></a>
    </div>
</section>

<%- include('../partials/footer.ejs', {}) %>