@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: 'Inter', sans-serif;
  color:white;
  background-color: #2A2D32;
}

* {
  padding: 0px;
  margin:0px;
}

nav, section, footer {
  display: block;
}

.nav {
  box-shadow: black 3px 3px 3px;
  background-color: #1D1F21;
}

.nav-button{
  font-family: 'Inter', sans-serif;
  color:white;
  background-color: #1D1F21;
  border: none;
  width: 150px;
  height:50px;
  outline: none;
}

.nav-login{
  outline: none;
  float:right;
  font-family: 'Inter', sans-serif;
  color:white;
  background-color: #1D1F21;
  border: none;
  width: 150px;
  height:50px;
}

.index-section {
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 5%;
}

.filterbot {
  border:none;
  font: inherit;
  border-radius: inherit;
  background-color: #1D1F21;
  color: white;
  padding:1%;
  width: 500px;
  height: 20px;
  outline: none;
}

.bot {
    text-align: left;
    font-size: 20px;
}

.botform {
    padding:1%;
    outline: none;
    width: 600px;
    height: 20px;
    color: white;
    font-size: 14px;
    background: #24272d;
    border: 1px solid #33343b;
}

.longD {
  padding:1%;
  outline: none;
  width: 600px;
  height: 100px;
  color: white;
  font-size: 14px;
  background: #24272d;
  border: 1px solid #33343b;
}

.submit {
  border-radius: 4px;
  font-size: 14px;
  border: #33343b;
  font-weight: 600;
  padding: 15px 25px;
  background: #1d1f21;
  color: white;
  transition: .1s ease-in-out;
}

.error-section {
  font-family: 'Inter', sans-serif;
  padding:5%
}

.longDinBots {
  padding:1%;
  outline: none;
  width: 1100px;
  height: 500px;
  color: white;
  font-size: 14px;
  background: #24272d;
  border: 1px solid #33343b;
}



.botl {
  float:left;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color:#1D1F21;
  border: 1px solid #1E2336;
  margin: 10px;
  box-shadow: black 3px 3px 3px;
}

.error-text {
  text-shadow: 10px 10px 10px black; 
}

.error-button {
  outline: none;
  color:white;
  background-color: rgb(139, 35, 35);
  font-family: 'Inter', sans-serif;
  box-shadow: 10px 10px 20px black;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
}